@import "tailwindcss";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 252, 232;
  --background-end-rgb: 255, 252, 232;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: "IBM Plex Mono", monospace;
}

@layer utilities {
  .shadow-brutal {
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 1);
  }

  .shadow-brutal-sm {
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 1);
  }
}
